body {
    font-family: 'Montserrat', sans-serif;
}

/* header section style start now */

.header-section {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

.header-section h1 {
    text-transform: capitalize;
    font-size: 60px;
    margin: 0;
    padding-top: 200px;
    font-weight: 900;
}

.header-section p {
    line-height: 25px;
    padding-bottom: 20px;
    color: #ddd;
}

.btn {
    text-decoration: none;
    background-color: chocolate;
    padding: 15px 25px;
    text-transform: capitalize;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

/* header section style end now */

/* section title style start now */

.section-title {
    text-align: center;
}

.section-title h2 {
    text-transform: capitalize;
    font-size: 55px;
    margin: 0;
    color: #000;
}

.section-title p {
    color: #666;
}

/* section title style end now */

/* donate section style start now */
.donate-section {
    text-align: center;
    padding: 50px 0;
}

.amount-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10%;
}

.amount {
    width: 150px;
    padding: 15px 20px;
    background: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.amount h3 {
    font-size: 35px;
}

#target-amount {
    border: 2px solid chocolate;
    color: chocolate;
    background-color: rgb(246, 204, 174);
}

.form {
    padding: 0 10%;
}

.form #email {
    width: 100%;
    padding: 10px 0px;
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.form #email::placeholder {
    text-align: center;
}

#submit-btn {
    padding: 15px 25px;
    font-size: 20px;
    background: chocolate;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;

}

/* donate section style end now */

/* donate plan section style start now */
.donate-plan-section {
    padding: 50px 10%;
}

.donate-plan-details {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

#bg-light-blue {
    background: #EDF5F6;
}

#bg-light-purple {
    background: #FFEEEE;
}

#bg-light-yeallow {
    background: #FFF4D6;
}

.donate-plan h3 {
    text-transform: capitalize;
}

.donate-plan {
    margin: 0 15px;
    padding: 35px;
    border-radius: 4px;
}

/* donate plan section style end now */

/* support section style start now */
.support_section {
    padding: 0 10%;
}

.supported_organizations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.organizations {
    width: 50%;
}

.organizations h2 {
    text-transform: capitalize;
    font-size: 32px;
    margin: 0;
}

.organizations ul li {
    line-height: 35px;
    text-transform: capitalize;
    font-weight: bold;
}

.organizations img {
    width: 100%;
}

/* support section style end now */

/* newsletter section style start now */
.title {
    padding-top: 40px;
}

.newsletter-section form {
    text-align: center;
    background-color: #FFF4D6;
    border-radius: 4px;
    margin: 50px 15%;
    padding: 4% 0;
}

.input_field {
    display: flex;
    align-items: center;
    justify-content: center;
}

#email_input {
    width: 50%;
    padding: 15px 25px;
    background: #ccc;
    outline: 0;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#subscribe {
    padding: 12.2px 25px;
    border: none;
    text-transform: capitalize;
    margin-right: -2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: chocolate;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* newsletter section style end now */

/* footer section style start now */
footer {
    text-align: center;
    padding: 45px 0;
    background: #222;
    color: #fff;
}

footer h2 {
    text-transform: capitalize;
    font-size: 40px;
}

/* footer section style end now */