body {
    font-family: 'Montserrat', sans-serif;
}

/* header section style start now */

.header-section {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

.header-section h1 {
    text-transform: capitalize;
    font-size: 50px;
    margin: 0;
    padding-top: 200px;
}

.header-section p {
    line-height: 25px;
    padding-bottom: 20px;
    color: #ddd;
}

.btn {
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 25px;
    text-transform: capitalize;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}

/* header section style end now */

/* section title style start now */

.section-title {
    text-align: center;
}

.section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    margin: 0;
}

.section-title p {
    color: #666;
}

/* section title style end now */

/* donate section style start now */
.donate-section {
    text-align: center;
    padding: 50px 0;
}

.amount-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10%;
}

.amount {
    width: 150px;
    padding: 15px 20px;
    background: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.amount h3 {
    font-size: 35px;
}

#target-amount {
    border: 2px solid chocolate;
    color: chocolate;
}

.form {
    padding: 0 10%;
}

.form #email {
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

#submit-btn {
    padding: 10px 25px;
    font-size: 20px;
    background: chocolate;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}



/* donate section style end now */

/* donate plan section style start now */
.donate-plan-section {
    padding: 50px 10%;
}

.donate-plan-details {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

#bg-light-blue {
    background: #EDF5F6;
}

#bg-light-purple {
    background: #FFEEEE;
}

#bg-light-yeallow {
    background: #FFF4D6;
}

.donate-plan h3 {
    text-transform: capitalize;
}

.donate-plan {
    margin: 0 15px;
    padding: 35px;
    border-radius: 4px;
}

/* donate plan section style end now */